@import '../../assets/styles/mixins.scss';

@mixin search-header {
  display: flex;
  align-items: center;
  width: 100%;

  img {
    width: 0.28rem;
  }

  input {
    flex: 1;
    font-size: 0.28rem;
    margin-left: 0.1rem;
  }
}

@mixin orders-block {
  @include flex-container;

  position: fixed;
  bottom: 0rem;
  width: 100%;

  div {
    @include flex-container;
    justify-content: center;
    height: 0.98rem;
  }
}
